@media (min-width: 768px) {
  .wave.top {
    top: -80px;
  }
  header {
    height: auto;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: auto;
      .mobile-container {
        width: auto;
        margin: initial;
        #header-img {
          width: 100px;
        }
      }
      #hamburger-menu {
        display: none;
      }
      ul {
        display: flex;
        gap: 20px;
        height: auto;
        visibility: visible;
        opacity: 1;
        .nav-link {
          a {
            font-size: 1.375rem;
          }
          &:first-child a:hover {
            color: #cee4f3;
          }
          &:nth-child(2) a:hover {
            color: #af8268;
          }
          &:last-child a:hover {
            color: #feefc1;
          }
        }
      }
    }
    .wave {
      bottom: -85px;
    }
  }

  .main-section {
    margin-top: 70px;
    padding-top: 110px;
    padding-bottom: 0;
    .flex-container {
      width: 90%;
      margin: auto;
      align-items: center;
      h1 {
        font-size: 4rem;
        span {
          font-size: 6.5rem;
        }
      }
      p {
        width: 100%;
        font-size: 0.75rem;
      }
      .img-container {
        transform: rotate(10deg);
        position: relative;
        z-index: 1;
        width: 140%;
      }
    }
    &.response {
      p {
        width: 70%;
        margin-top: 70px;
      }
    }
  }

  .flex-container {
    display: flex;
  }

  #video {
    padding-bottom: 35.25%;
  }

  .how-its-made {
    .flex-container {
      align-items: center;
      .about-section {
        width: 100%;
        text-align: left;
        padding-left: 20px;

        h3 {
          font-size: 1.6875rem;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
  }

  .flavors {
    padding-bottom: 0px;
    .flex-container {
      flex-wrap: wrap;
      justify-content: space-around;
      .flavor {
        .flavor-img {
          width: 50%;
        }
      }
    }
  }

  .contact-us {
    .popsicle-form {
      width: 50%;
      margin: auto;
    }
  }

  #response {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  header {
    .wave {
      bottom: -100px;
    }
  }

  .main-section {
    padding-top: 120px;
    .flex-container {
      h1 {
        font-size: 5rem;
        span {
          font-size: 8.5rem;
        }
      }
    }
    &.response {
      p {
        width: 50%;
        margin-top: 70px;
      }
    }
  }

  .flavors {
    .flex-container {
      justify-content: space-evenly;
    }
  }

  .contact-us {
    padding-top: 180px;
  }
}

@media (min-width: 1200px) {
  h2,
  h3 {
    font-size: 3.6875rem;
  }

  .main-section {
    .flex-container {
      h1 {
        font-size: 7rem;
        span {
          font-size: 11.5rem;
        }
      }
      .img-container {
        width: 70%;
      }
      p {
        font-size: 1rem;
        width: 80%;
      }
    }
  }

  .how-its-made,
  .flavors {
    padding-top: 160px;
    padding-bottom: 50px;
  }

  .flavors {
    .flex-container {
      width: 80%;
      margin: auto;
    }
  }

  .contact-us {
    .popsicle-form {
      width: 30%;
      margin: auto;
    }
  }
}

@media (min-width: 1440px) {
  .main-section {
    margin-top: 0;
    padding-top: 220px;
    .flex-container {
      p {
        width: 80%;
        font-size: 1rem;
      }
    }
  }
}
