@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #818181;
  font-weight: 500;
}

img {
  width: 100%;
}

h2,
h3 {
  color: #818181;
  font-size: 2.6875rem;
  margin-bottom: 30px;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0 20px;
  height: 200px;
  z-index: 10;
}
header nav {
  position: relative;
  z-index: 9;
}
header.scroll {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
header.scroll .wave {
  display: none;
}

.nav-link {
  margin: 12px 0;
}
.nav-link a {
  font-size: 1.625rem;
  text-transform: uppercase;
}

.wave {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.wave.top {
  bottom: initial;
  top: 0;
}

#video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flavor-img {
  width: 70%;
  margin: auto;
}

.flavor-img img {
  width: 100%;
}

section {
  position: relative;
  text-align: center;
}
section .wave {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.16));
}

.main-section {
  background-color: #f8b8b4;
  margin-top: 200px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.main-section h1 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.125rem;
}
.main-section h1 span {
  font-size: 5.3125rem;
}
.main-section p {
  width: 80%;
  margin: auto;
  color: white;
  margin-bottom: 1rem;
}

.how-its-made {
  background-color: #cee4f3;
  padding: 100px 20px;
}

.flavors {
  background-color: #fff;
  padding: 100px 20px;
}
.flavors h3 {
  font-weight: 300;
  font-size: 2.125rem;
  margin-top: 30px;
}

.contact-us {
  background-color: #fdf0c1;
  padding: 100px 20px;
  z-index: 1;
}
.contact-us form {
  background-color: #f8b8b4;
  padding: 20px 20px 10px;
  text-align: left;
  border-radius: 10px;
}
.contact-us form .form-control {
  width: 100%;
}
.contact-us form .form-control label {
  display: block;
  margin-bottom: 5px;
}
.contact-us form .form-control input,
.contact-us form .form-control textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.contact-us form .form-control textarea {
  height: 200px;
}
.contact-us form button {
  display: block;
  margin-left: auto;
  background-color: #da737f;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .wave.top {
    top: -80px;
  }

  header {
    height: auto;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  header nav ul {
    display: flex;
    gap: 20px;
  }
  header nav ul .nav-link a {
    font-size: 1.375rem;
  }
  header nav ul .nav-link:first-child a:hover {
    color: #cee4f3;
  }
  header nav ul .nav-link:nth-child(2) a:hover {
    color: #af8268;
  }
  header nav ul .nav-link:last-child a:hover {
    color: #feefc1;
  }
  header .wave {
    bottom: initial;
    top: 35px;
  }

  .main-section {
    margin-top: 70px;
    padding-top: 110px;
    padding-bottom: 0;
  }
  .main-section .flex-container {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .main-section .flex-container h1 {
    font-size: 4rem;
  }
  .main-section .flex-container h1 span {
    font-size: 6.5rem;
  }
  .main-section .flex-container p {
    width: 100%;
    font-size: 0.75rem;
  }
  .main-section .flex-container .img-container {
    transform: rotate(10deg);
    position: relative;
    z-index: 1;
    width: 140%;
  }

  .flex-container {
    display: flex;
  }

  #video {
    padding-bottom: 35.25%;
  }

  .how-its-made .flex-container {
    align-items: center;
  }
  .how-its-made .flex-container .about-section {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  .how-its-made .flex-container .about-section h3 {
    font-size: 1.6875rem;
  }
  .how-its-made .flex-container .about-section p {
    margin-bottom: 10px;
  }

  .flavors {
    padding-bottom: 0px;
  }
  .flavors .flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .flavors .flex-container .flavor .flavor-img {
    width: 50%;
  }

  .contact-us form {
    width: 80%;
    margin: auto;
  }

  #response {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  header .wave {
    top: 20px;
  }

  .main-section {
    padding-top: 120px;
  }
  .main-section .flex-container h1 {
    font-size: 5rem;
  }
  .main-section .flex-container h1 span {
    font-size: 8.5rem;
  }

  .flavors .flex-container {
    justify-content: space-evenly;
  }

  .contact-us {
    padding-top: 180px;
  }
  .contact-us form {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  h2,
h3 {
    font-size: 3.6875rem;
  }

  header .wave {
    top: 0;
  }

  .main-section .flex-container h1 {
    font-size: 7rem;
  }
  .main-section .flex-container h1 span {
    font-size: 11.5rem;
  }
  .main-section .flex-container .img-container {
    width: 70%;
  }
  .main-section .flex-container p {
    font-size: 1rem;
    width: 80%;
  }

  .how-its-made,
.flavors {
    padding-top: 160px;
    padding-bottom: 50px;
  }

  .flavors .flex-container {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .main-section {
    margin-top: 0;
    padding-top: 220px;
  }
  .main-section .flex-container p {
    width: 80%;
    font-size: 1rem;
  }

  #video {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
