@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #818181;
  font-weight: 500;
}

img {
  width: 100%;
}

h2,
h3 {
  color: #818181;
  font-size: 2.6875rem;
  margin-bottom: 30px;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0 0;
  height: 200px;
}

.nav-link {
  margin: 12px 0;
}
.nav-link a {
  font-size: 1.625rem;
  text-transform: uppercase;
}

.wave {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.wave.top {
  bottom: initial;
  top: 0;
}

#video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flavor-img {
  width: 70%;
  margin: auto;
}

.flavor-img img {
  width: 100%;
}

section {
  position: relative;
  z-index: -1;
  text-align: center;
}
section .wave {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.16));
}

.main-section {
  background-color: #f8b8b4;
  margin-top: 200px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.main-section h1 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.125rem;
}
.main-section h1 span {
  font-size: 5.3125rem;
}

.how-its-made {
  background-color: #cee4f3;
  z-index: -2;
  padding: 100px 20px;
}

.flavors {
  background-color: #fff;
  z-index: -3;
  padding: 100px 20px;
}
.flavors h3 {
  font-weight: 300;
  font-size: 2.125rem;
  margin-top: 30px;
}

.contact-us {
  z-index: 0;
  background-color: #fdf0c1;
  padding: 100px 20px;
}
.contact-us form {
  background-color: #f8b8b4;
  padding: 20px 20px 10px;
  text-align: left;
  border-radius: 10px;
}
.contact-us form .form-control {
  width: 100%;
}
.contact-us form .form-control label {
  display: block;
  margin-bottom: 5px;
}
.contact-us form .form-control input,
.contact-us form .form-control textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.contact-us form .form-control textarea {
  height: 200px;
}
.contact-us form button {
  display: block;
  margin-left: auto;
  background-color: #da737f;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .wave {
    bottom: -95px;
  }

  header {
    height: auto;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  header nav ul {
    display: flex;
    gap: 20px;
  }
  header nav ul .nav-link a {
    font-size: 1.375rem;
  }
  header .wave {
    bottom: initial;
    top: 35px;
    z-index: -1;
  }

  .main-section {
    margin-top: 70px;
    padding-top: 110px;
    padding-bottom: 0;
  }
  .main-section .flex-container {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .main-section .flex-container h1 {
    font-size: 4rem;
  }
  .main-section .flex-container h1 span {
    font-size: 6.5rem;
  }
  .main-section .flex-container .img-container {
    transform: rotate(10deg);
    position: relative;
    z-index: 1;
  }

  .flex-container {
    display: flex;
  }

  #video {
    width: 85%;
    margin: auto;
  }

  .flavors {
    padding-bottom: 0px;
  }
  .flavors .flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .flavors .flex-container .flavor .flavor-img {
    width: 50%;
  }

  .contact-us {
    padding-top: 150px;
  }
  .contact-us form {
    width: 80%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
